.app-header {
  padding: 2.5em;
  background: $darkest-color;
  text-align: center;
}

.app-header-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 0.5rem solid $primary-color;
}

.app-header-sidebar {
  padding-left: 0;
  list-style: none;
}

.app-header-sidebar-item {
  font-size: 1.3em;
}

.app-header-social {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

.app-container {
  padding: 1rem;
}

@media (min-width: 960px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    min-height: 100vh;
  }

  .app-container {
    padding: 2.5rem;
    margin-left: 18rem;
  }
}
