.posts-list {
  padding: 0;
  max-width: 72rem;
  margin: 0px auto auto auto;
}

.posts-list-item {
  list-style: none;
  padding: 0.4em 0;

  &:not(:last-child) {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  }
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
}

section {
  h1 {
      max-width: 72rem;
      margin-left: auto;
      margin-right: auto;
  }
}
