.post {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
    max-width: 72rem;
    margin: 0px auto auto auto;
}

.post-header {
  grid-area: header;
}

.post-title {
  color: $lightest-color;
}

.post-meta {
  font-size: 0.8em;
}

.post-content {
  grid-area: main;

  & > pre,
  .highlight {
    margin: 1em 0;
  }

  & > pre,
  .highlight > pre,
  .highlight > div {
    //border-left: 0.4em solid rgba($primary-color, .8);
    padding: .5em 1em;
  }

  h2 {
    border-bottom: 1px solid DimGray;
  }

  // 默认居中对齐，左对齐、右对齐需在markdown中后缀#floatleft、#floatright
  img {
    max-width: 100%;
    display: block;
    margin: 0.7rem auto;
  }

  img[src$='#floatleft'] {
    float:left;
    margin: 0.7rem;
  }

  img[src$='#floatright'] {
    float:right;
    margin: 0.7rem;
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: 0.25em solid rgba($primary-color, .8);
    color: rgba($light-color, .7);
  }

  strong {
    color: rgba(#fff, .9);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid DimGray;
    width: 100%;
    max-width: 100%;

    th, td {
      border: 1px solid DimGray;
      text-align: left;
      padding: 0.25rem 1rem;
    }

    th {
      text-align: center;
    }
  }
}

.post-aside {
  grid-area: aside;
}

.post-toc {
  top: 3em;
  position: sticky;
  margin: 2em;
  padding: 0 0.5em 0 0.5em;
  border-left: 1px dashed DimGray;
}

.post-footer {
  grid-area: footer;
}

@media (max-width: 960px) {
  .post {
    display: block;
  }
  .post-header {
  }
  .post-content {
  }
  .post-aside {
    display: none;
  }
}
